<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Your account has been deleted</h1>

<p>
  A request to delete your account has been made today - We confirm you that none of your identities has been kept and this is the last mail you will received from us.
</p>
<p>
  Feel free to contact us at vauban@zeneffy.fr if you have any comment or feedbacks after using Vauban
</p>

<p>
  The Vauban team
</p>

</body>
</html>