<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Feedback from users</h1>

<p>Dear site administrator,</p>
<p>
You're lucky today, you've got feedback from your users:
</p>
<p>
  <b>Subject</b>: <%=h @feedback.subject %><br/>
<b>User's email</b>: <%=h @feedback.email %><br/>
<b>Sent at</b>: <%= Time.now %></br>
<%=h @feedback.comment %>
</p>

</body>
</html>