<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>New user</h1>

<p>Dear site administrator,</p>
<p>
You're lucky today, you've got a new user!
</p>
<p>
<b>User</b>: <%=h @user.username %>
<b>User's email</b>: <%=h @user.email %>
<b>Registered at</b>: <%= Time.now %>
</p>

</body>
</html>