<% content_for :title do %>About<% end %>



<h1>Vauban - managing your web identities</h1>

<H3>About Vauban</H3>
<p>Vauban is a simple webapplication to manage your web identities, i.e. all your accounts for all your web applications (gmail, facebook, linkedin, banking services...)</p>
<H3>How does it work ?</H3>
<p>You simply store your informations (webservices url, login, password) in your secure account</p>
<H3>How is it secured ?</H3>
<p>Obviously, your account is protected by a password but Vauban is designed to be very secured:
<UL>
  <LI>SSL encryption to secure transactions between your PC and the Vauban servers</LI>
  <LI>codepin encryption on each identity: you and only you are are able to decrypt your login/password</LI>
</UL>
</P>
